<!DOCTYPE html>
<html>
  <head>
    <title>The users</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <p>Welcome to <%= show_data[0].name %></p>
    <p>Welcome to <%= show_data[1].name %></p>

    <table>
      <tr>
        <th>id</th>
        <th>Name</th>
        <th>Username</th>
        <th>Email</th>
        <th>City</th>
        <th>Zip Code</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Zip code</th>
      </tr>

    </table>
  </body>
</html>
