<tr>
    <td>id</td>
    <td>Name</td>
    <td>Username</td>
    <td>Email</td>
    <td>City</td>
    <td>Zip Code</td>
    <td>Latitude</td>
    <td>Longitude</td>
    <td>Zip code</td>
  </tr>