<!DOCTYPE html>
<html>
  <head>
    <title>The Presentation</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= secret %></h1>
   
  </body>
</html>
