<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <div formGroupName="userData">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text"
             class="form-control"
             id="username"
             formControlName="username">
      <div *ngIf="!myForm.controls['userData'].controls['username'].valid">
           Required
      </div>
    </div>

    <div class="form-group">
        <label for="email">E-Mail</label>
        <input type="text"
               class="form-control"
               id="email"
               formControlName="email">
        <div *ngIf="!myForm.controls['userData'].controls['email'].valid">
          Required
        </div>
      </div>

    <div class="form-group">
      <label for="username">Post</label>
      <textarea cols="30" rows="10"
             formControlName="post"></textarea>
      <div *ngIf="!myForm.controls['userData'].controls['post'].valid">
           Minimum length of 10 
      </div>
    </div>

  </div>
  
  <button type="submit" class="btn btn-primary" [disabled]="!myForm.valid">Submit</button>
  <button type="button" class="btn btn-primary" (click)="makeRequest()">Get Data</button>
  <div *ngIf="loading">Loading...</div>
</form>
